<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/Dashboard-layout.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>

<body>
    <div class="wrapper">
        <div class="sidebar" data-color="purple" data-image="" style="background-color:#222831;">
            <div class="sidebar-wrapper">
                <div class="logo"><a class="simple-text" href="#">Admin dashboard</a></div>
                <ul class="list-group">
                    <li class="list-group-item"><span><a href="#">Plats</a></span></li>
                    <li class="list-group-item"><span><a href="#">Reservations</a></span></li>
                    <li class="list-group-item"><span><a href="#">Statistiques</a> </span></li>
                    <li class="list-group-item"><span><a href="#">Deconnexion</a></span></li>
                </ul>
            </div>
        </div>
        <div class="main-panel">
            <nav class="navbar navbar-light navbar-expand-md">
                <div class="container-fluid">
                    <div><a class="navbar-brand" href="#">Coulisses de Gestion</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button></div>
                    <div class="collapse navbar-collapse" id="navcol-1">
                        <ul class="navbar-nav"></ul>
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item"><a class="nav-link" href="#">Account </a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="content">
                <div class="row">
                    <div class="col-6 col-sm-3"><span>Column 1: col-sm-3.col-xs-6</span></div>
                    <div class="col-6 col-sm-3"><span>Column 2: col-sm-3.col-xs-6 </span></div>
                    <div class="col-6 col-sm-3"><span>Column 3: col-sm-3.col-xs-6 </span></div>
                    <div class="col-6 col-sm-3"><span>Column 4: col-sm-3.col-xs-6 </span></div>
                </div>
            </div>
        </div>
    </div>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>